# ========================
# ANDROID
# ========================
.gradle/
local.properties
/.idea/
.DS_Store
/build/
captures/
.externalNativeBuild/
.cxx/

# ========================
# APK / BUILD FILES
# ========================
*.apk
*.aab

# ========================
# LOGS
# ========================
*.log

# ========================
# ML MODELS (IMPORTANT)
# ========================
*.tflite
*.h5

# ========================
# PYTHON (if used)
# ========================
__pycache__/
*.pyc

# ========================
# ENV FILES
# ========================
.env